.home-bg {
    background-image: url("../image/home.jpg");
    background-size: cover;
    width: 100%;
    height: 750px;
}

.text {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: bolder;
    text-transform: uppercase;
    color: #262626;
    letter-spacing: 2px;
    position: relative;
    width: fit-content;
}

.text::before {
    word-wrap: break-word;
    word-break: break-all;
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #ffffff;
    animation: text-fill 2s ease-in-out alternate infinite;
}


@keyframes text-fill {
    100% {
        width: 100%;
    }
}

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #00b8de;
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 5%;
    width: max-content;
}

.button:hover {
    color: #f6f6f6;
    background-color: #01afd2;
}

.course-field-group {
    grid-row-gap: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
    margin: 80px 140px;
    row-gap: 40px;
}

.course-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #f2f7ff;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    color: #232323;
    cursor: pointer;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
    min-width: 140px;
    width: 140px;
}

.course-field:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

footer {
    background-color: #303030;
    color: #ececec !important;
    padding: 50px 0px;
}

.Footer-section1 {
    display: flex;
    justify-content: space-evenly;
}

.Footer-section2 {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0px;
}

.Footer-section3 {
    display: flex;
    justify-content: center;
}

.contact {
    color: #ececec !important;
    text-decoration: none !important;
}


.home-content-group-field {
    line-height: 2;
    width: 80%;
    display: flex;
    align-items: center;
}

.center-page {
    width: 50%;
    line-height: 2.5;
}

.university {
    width: 90%;
}

.university-card {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
    column-gap: 30px;
}

.university-template {
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.university-template:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-input {
    line-height: 1.3;
    border: none;
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    min-width: 75%;
    padding: 10px 0px 10px 15px;
    outline: none;
    width: 100%;
}

.contact-form {
    width: 35%;
}

.aboard {
    width: 50%;
}

.why-aboard-group {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
    column-gap: 40px;
}

.why-aboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* text slider */

#rssBlock {
    height: 80px;
    position: absolute;
    width: 50%;
    overflow: hidden;
    top: 20%;
}

/*remove p*/
.cnnContents {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    font-size: 17px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff !important;
}

.marqueeStyle {
    display: inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 20s linear infinite;
    animation: scrolling-left1 20s linear infinite;
}

.marqueeStyle2 {
    display: inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left2 20s linear infinite;
    animation: scrolling-left2 20s linear infinite;
    animation-delay: 10s;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scrolling-left2 {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
    }
}

@-webkit-keyframes scrolling-left1 {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes scrolling-left2 {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-200%);
    }
}