:root {
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.auth-btn {
    background-color: #04aa6d;
    width: 100%;
}

.auth-btn:hover {
    background-color: #068e5c;
}

.home-btn {
    background-color: #04aa6d;
}

.home-btn:hover {
    background-color: #068e5c;
}

.input-user {
    background: url(../images/input-user.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-email {
    background: url(../images/input-email.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-password {
    background: url(../images/input-password.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-search {
    background: url(../images/search.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
    background-position: 20px 15px !important;
    width: 100%;
}

.input-phone {
    background: url(../images/phone.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-field {
    background: url(../images/field.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-message {
    background: url(../images/message.png) !important;
    background-size: 17px 17px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-dob {
    background: url(../images/dob.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-course {
    background: url(../images/course.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-college {
    background: url(../images/college.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-phone {
    background: url(../images/phone.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-parent {
    background: url(../images/parent.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-religion {
    background: url(../images/religion.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-community {
    background: url(../images/community.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-address {
    background: url(../images/address.png) !important;
    background-size: 15px 15px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-school {
    background: url(../images/school.png) !important;
    background-size: 17px 17px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-exam {
    background: url(../images/exam.png) !important;
    background-size: 17px 17px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-marks {
    background: url(../images/marks.png) !important;
    background-size: 17px 17px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-student {
    background: url(../images/student.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-marksheet {
    background: url(../images/marksheet.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-image {
    background: url(../images/image.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.input-ownership {
    background: url(../images/ownership.png) !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
}

.animation {
    height: 50px;
    overflow: hidden;
    font-size: 25px;
    font-weight: 600;
    /* color: #ec2f8d; */
}

.animation>div>div {
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 10s infinite;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

.form {
    display: flex;
    height: 90vh;
    position: relative;
}

.form .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px 30px;
    margin: 0 auto;
}

.form-left {
    background-image: url(../images/form-bg.webp);
    object-position: 100% 50%;
    object-fit: cover;
    aspect-ratio: 2 / 1;
    width: 400px;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 25px 25px;
    color: #fff;
}

.form-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.promotion-group {
    display: flex;
    column-gap: 10px;
}

.promotion {
    /* background-color: #00000032; */
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    color: #ffffff;
    /* box-shadow: 0 1px 3px #202020; */
}

.form-left ul li {
    padding-bottom: 12px;
}

.ReactModal__Content--after-open {
    padding: 0px !important;
    border-radius: 0px !important;
}

input, textarea {
    font-family: "DM Sans", sans-serif !important;
}

.input {
    line-height: 1.3;
    border: none;
    background: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    padding: 15px 30px 15px 45px;
    outline: none;

}

.did-floating-label-content {
    position: relative;
    margin-bottom: 25px;
}

.did-floating-label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 25px;
    top: 15px;
    padding: 0 5px 12px 25px;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
    line-height: 1.3;
    border: none;
    background-color: #FFFFFF !important;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    border: 1px solid #ced4da;
    border-radius: 25px;
    padding: 17px 20px 15px 20px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: none;

        ~.did-floating-label {
            top: -8px;
            left: 20px;
            font-size: 10px;
        }
    }
}

.did-floating-label-content textarea {
    resize: none;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 10px;
}

select.did-floating-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.did-floating-select::-ms-expand {
    display: none;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 10px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 10px;
}

.did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    font-size: 12px;
    font-family: "Inter", sans-serif !important;
    min-width: 200px
}

.social-group-template {
    padding: 13px 0px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.social-group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.social-group img {
    cursor: pointer;
}

.text-image-group {
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.text-image-group-content {
    width: 80%;
    display: flex;
    column-gap: 20px;
}

/* COURSE TYPE */
.course-field-group {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    column-gap: 30px;
    margin: 40px 12%;
}

.course-field {
    display: flex;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-align: start;
    color: #000000 !important;
    /* box-shadow: 0 2px 6px #d9d9d9; */
}

.course-field-image {
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 100px;
}

.course-field:hover {
    box-shadow: 0 2px 6px #d9d9d9;
}

/* Table design */
.table {
    margin: 0 10%;
    overflow-x: auto;
    scrollbar-width: thin;
    text-wrap: nowrap !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    /* border: 1px solid #ffffff; */
    padding: 10px;
    padding-left: 25px;
}

/* #customers tr:nth-child(odd) {
    background-color: #F6F7FB;
} */
#customers tr:nth-child(even) {
    background-color: #F6F7FB;
}

#customers tr:hover {
    background-color: #e5e7ec;
}

.admin {
    #customers th {
        padding: 10px;
        padding-left: 25px;
    }

    #customers td {
        padding: 0px;
        padding-left: 0px;
    }

    #customers tr:nth-child(even) {
        background-color: #ffff;
    }

    #customers tr:hover {
        background-color: #fff !important;
    }
}

.disable-table-hover:hover {
    background-color: #F6F7FB !important;
}

#customers th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    background-color: #04aa6d;
    color: white;
    font-family: "Aoboshi One", sans-serif !important;
    font-weight: 400;
}

/* aboard */
.why-aboard {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

/* Footer */
footer {
    background-color: #303030;
    color: #ececec !important;
    padding: 30px 0px 75px;
}

.Footer-section1 {
    display: flex;
    justify-content: space-evenly;
}

.Footer-section2 {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0px;
}

.Footer-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer a {
    color: #fff;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding-left: 30px;
    margin-right: 10px;
    transition: .5s;
    background-image: url(../images/upload.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

/* Create College */
.ql-syntax {
    background: #23241f !important;
    color: #fff !important;
    padding: 10px !important;
}

.ql-editor {
    height: max-content !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-toolbar.ql-snow {
    min-width: 1100px !important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    min-width: 1100px !important;
}

.ql-editor {
    font-family: "DM Sans", sans-serif !important;
    font-size: 14px;
    color: #000 !important;
    line-height: 1.7 !important;
}

.hide-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* College Page */
.college-page {
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.template {
    color: #fff !important;
    background-image: url(../images/wood-bg.webp);
    background-position: 0px 300px;
    background-size: cover;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.template-icons {
    background-color: #fff;
    padding: 2px;
    border-radius: 2px;
}

.template-icons-group {
    display: flex;
    align-items: center;
    color: #e3e3e3;
}

.template-action-group {
    overflow-x: auto;
    scrollbar-width: thin;
    text-wrap: nowrap;
}

.template-action-icons {
    position: fixed;
    top: 70px;
    right: 20px;
    margin-bottom: 20px;
}

.template-action-group-sm {
    display: none;
}

.separete-line {
    margin-left: 15px;
    margin-right: 15px;
    color: #919191;
}

.separete-line2 {
    margin-left: 15px;
    margin-right: 15px;
    color: #919191;
}

.college-filter-group-select {
    display: flex;
    align-items: baseline;
}

.head-template {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 30px;
}

.sticky-header {
    position: sticky !important;
    top: 60px;
    z-index: 90;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.pagination span {
    cursor: pointer;
    text-align: center;
    background-color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
}

.pagination span:hover {
    background-color: #034a6a;
    padding: 10px 15px;
    color: #fff;
}

.confirm {
    width: max-content;
    height: max-content;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* border: #d9d9d9 1px solid; */
}

/* PAGINATION */
.active-pagination {
    background-color: #d4eff9;
    color: #FFFFFF;
    padding: 10px;
    min-width: 15px;
    text-align: center;
    align-items: center;
    border-radius: 100px;
}

.active-pagination .react-paginate a {
    color: #fff !important;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-paginate {
    display: flex;
    align-items: center;
    column-gap: 25px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.react-paginate li {
    margin: 0 5px;
}

.react-paginate a {
    padding: 10px 15px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.react-paginate .active a {
    background-color: #007bff;
    color: white;
}

.react-paginate .disabled a {
    cursor: not-allowed;
    color: #ccc;
}

/* Responsive styles */
@media (max-width: 768px) {
    .react-paginate {
        justify-content: center;
        flex-wrap: wrap;
    }

    .react-paginate li {
        margin: 5px;
    }

    .react-paginate a {
        padding: 8px 10px;
    }

    .pagination {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .react-paginate a {
        padding: 6px 8px;
        font-size: 12px;
    }

    .pagination {
        padding: 0 10px;
    }
}

.show-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.counter-animation {
    display: flex;
    justify-content: space-evenly;
    background-color: #f6f7fb;
    color: #000000;
    text-align: center;
    padding: 25px 0px;
}

/* card carousel */

.carousel-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text-white);
    /* height: max-content; */
    color: var(--text-primary);
    padding: 25px;
    border: #d9d9d9 1px solid;
}

.carousel-card:hover {
    cursor: pointer;
}

.update-description-limit {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 7.5em;
    line-height: 1.5em;
}

.updates-list {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}