@media (max-width: 600px) {
    .home-bg {
        background-image: url(../images/home2.webp);
    }

    .ReactModal__Content {
        width: 100% !important;
    }

    .input-search-select {
        width: 95%;
    }

    .select-search {
        width: 95%;
    }

    .input-search {
        width: 100%;
    }

    .container-txt {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .profile {
        display: none !important;
    }

    .form {
        height: 100vh !important;
    }

    .form-right {
        width: 90%;
        padding: 50px 25px;
    }

    .course-field-group {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        margin: 5% 5%;
    }

    .form-left {
        display: none;
    }

    .text-image-group {
        display: flex;
        flex-direction: column;
    }

    .table {
        margin: 0 3%;
    }

    .why-aboard {
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
        row-gap: 20px;
    }

    .Footer-section1 {
        display: flex;
        flex-direction: column;
        margin-left: 30%;
    }

    .Footer-section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-page {
        width: 90%;
    }

    .content-page h1 {
        font-size: 18px !important;
    }

    .content-page h2 {
        font-size: 16px !important;
    }

    .template {
        padding: 25px 0px;
    }

    .template-icons-group {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .separete-line {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .menu-icon {
            display: block;
            cursor: pointer;
        }
    .home-bg {
        background-image: url(../images/home2.webp);
    }

    .input-search-select {
        width: 80%;
    }

    .select-search {
        width: 80%;
    }

    .course-field-group {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .form-left {
        width: 240px;
    }

    .form-right {
        width: 300px;
    }

    .table {
        margin: 0 5%;
    }

    .content-page {
        width: 90%;
    }

    .template {
        padding: 40px 5%;
    }

    .template-icons-group {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .template h1 {
        font-size: 18px;
    }

    .separete-line {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .course-field-group {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .input-search-select {
        width: 60%;
    }

    .select-search {
        width: 60%;
    }

    .form-left {
        width: 300px;
    }

    .form-right {
        width: 350px;
    }

    .content-page {
        width: 90%;
    }

    .table {
        margin: 0 5%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .course-field-group {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .content-page {
        width: 80%;
    }
}